[include]
    path = ~/dotfiles/git/local.gitconfig
	path = ~/dotfile/git/.gitconfig.secret
[core]
    quotepath = false
[init]
    defaultBranch = main

[credential]
	helper = store
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
