name: コンテナテスト

on: push

jobs:
    docker_test:
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v1
            - name: Install required packages
              run: apt-get update && apt-get install -y sudo zsh
            - name: Install dotfiles
              run: source setup.sh
